/.idea
/out
MSCI_541.iml
latimes.gz
/89
/90
/classes/IndexEngine.class
/classes/GetDoc.class
/classes/MakeSamples.java
/classes/BM25.class
/classes/PorterStemmer.class
/classes/BooleanAND.class
/classes/QueryBiasedSummary.class
/evaluation
sample_docs.gz
sample_docs.txt
DocnoInternalMap.ser
sample_docs_index.txt
DocLengths.txt
InvertedIndex.ser
hw2-results-a8premji.txt
lexiconIS.ser
lexiconSI.ser
test/
__pycache__/
doc-lengths.txt